<section class="content" data-ng-init="init()">

<h1>California Emergency Services - Registration</h1>

  
      
          

        
<div class="container">               
   <label for="repeatSelect"> <h3> Select a mile range to get Notifications in your area: </h2></label>
    <select name="repeatSelect" id="repeatSelect" ng-model="data.model">
      <option ng-repeat="option in data.availableOptions" value="{{option.name}}">{{option.name}}</option>
    </select>
  </h3>
  </label>
    

</div>
<div class="container">
 <label for="repeatSelect"> <h3> Select which notifications do you want? </h2></label>
    <select name="repeatSelect" id="repeatSelect" ng-model="data2.model">
      <option ng-repeat="option in data2.factors" value="{{option.name}}">{{option.name}}</option>
    </select>
    </h3>
    </label>
    </div>
  <div class="container">
<button ng-click="submit()" class="btn btn-primary">
  Register
</button>

</div>
<div class="container">
<br>
{{temp}}
</div>
</section>
